# Notebook to get Twitter Summary files

<table align="left">
  <td>
    <a target="_blank" href="https://colab.research.google.com/github/lopezbec/COVID19_Tweets_Dataset/blob/master/Get_twitter_Summary_Files.ipynb"><img src="https://www.tensorflow.org/images/colab_logo_32px.png" />Run in Google Colab</a>
  </td>
</table>

In [1]:
import os
Use_Google_Drive= False #@param {type:"boolean"}

if Use_Google_Drive:
    import os
    from google.colab import drive 

    drive.mount('/content/gdrive',force_remount=True)

    Working_Directory = 'My Drive' #@param {type:"string"}
    wd="/content/gdrive/"+Working_Directory
    os.chdir(wd)


wd = os.getcwd()
print("current directory is : " + wd)

current directory is : /content

In [2]:
#@title Date fields
import pandas as pd
from IPython.display import clear_output
Start_date = '2021-04-18' #@param {type:"date"}
#@title Date fields
End_date = '2021-04-19' #@param {type:"date"}



datelist = pd.date_range(Start_date, End_date).tolist()
number_files=0
for date in datelist:
  for h in ['00','01', '02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23']:
    number_files=number_files+1

print("You have requested to download a total of "+ str(number_files) + ' files \n The more files you download at once the longer it will take to upload to your Drive')

You have requested to download a total of 48 files
 The more files you download at once the longer it will take to upload to your Drive

In [3]:
%pip install wget

Collecting wget
  Downloading wget-3.2.zip (10 kB)
Building wheels for collected packages: wget
  Building wheel for wget (setup.py) ... done
  Created wheel for wget: filename=wget-3.2-py3-none-any.whl size=9675 sha256=9e210ddd3a71f578fb42c28816a0cbc57ff0e9e4d8e6c8276b971f5b38dac2d9
  Stored in directory: /root/.cache/pip/wheels/a1/b6/7c/0e63e34eb06634181c63adacca38b79ff8f35c37e3c13e3c02
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2

In [4]:

from datetime import datetime
import wget

Summary_Files = "Summary_Details" #@param ["Summary_Details", "Summary_Hashtag", "Summary_Mentions", "Summary_NER", "Summary_NER_ES", "Summary_Sentiment", "Summary_Sentiment_ES"]



path = os.path.join(wd, Summary_Files) 
if not os.path.exists(path):
  try:
    os.makedirs(path)
    os.chdir(path)
  except:
    pass

datelist = pd.date_range(Start_date, End_date).tolist()
files_list=[]
for date in datelist:
  day=date.strftime("%Y_%m_%d")
  y=day[0:4]
  if str(date.today().year)==y:
    p1="https://raw.githubusercontent.com/lopezbec/COVID19_Tweets_Dataset/master/" + Summary_Files+"/"
  else:
      p1="https://raw.githubusercontent.com/lopezbec/COVID19_Tweets_Dataset_"+y+"/master/"+ Summary_Files+"/"
  m=day[0:7]
  for h in ['00','01', '02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23']:
    file=p1+m+"/"+day+"_"+str(h)+"_" + Summary_Files +".csv"
    print(file)
    wget.download(file)

clear_output()

In [5]:
!ls

2021_04_18_00_Summary_Details.csv  2021_04_19_00_Summary_Details.csv
2021_04_18_01_Summary_Details.csv  2021_04_19_01_Summary_Details.csv
2021_04_18_02_Summary_Details.csv  2021_04_19_02_Summary_Details.csv
2021_04_18_03_Summary_Details.csv  2021_04_19_03_Summary_Details.csv
2021_04_18_04_Summary_Details.csv  2021_04_19_04_Summary_Details.csv
2021_04_18_05_Summary_Details.csv  2021_04_19_05_Summary_Details.csv
2021_04_18_06_Summary_Details.csv  2021_04_19_06_Summary_Details.csv
2021_04_18_07_Summary_Details.csv  2021_04_19_07_Summary_Details.csv
2021_04_18_08_Summary_Details.csv  2021_04_19_08_Summary_Details.csv
2021_04_18_09_Summary_Details.csv  2021_04_19_09_Summary_Details.csv
2021_04_18_10_Summary_Details.csv  2021_04_19_10_Summary_Details.csv
2021_04_18_11_Summary_Details.csv  2021_04_19_11_Summary_Details.csv
2021_04_18_12_Summary_Details.csv  2021_04_19_12_Summary_Details.csv
2021_04_18_13_Summary_Details.csv  2021_04_19_13_Summary_Details.csv
2021_04_18_14_Summary_Details.csv  2021_04_19_14_Summary_Details.csv
2021_04_18_15_Summary_Details.csv  2021_04_19_15_Summary_Details.csv
2021_04_18_16_Summary_Details.csv  2021_04_19_16_Summary_Details.csv
2021_04_18_17_Summary_Details.csv  2021_04_19_17_Summary_Details.csv
2021_04_18_18_Summary_Details.csv  2021_04_19_18_Summary_Details.csv
2021_04_18_19_Summary_Details.csv  2021_04_19_19_Summary_Details.csv
2021_04_18_20_Summary_Details.csv  2021_04_19_20_Summary_Details.csv
2021_04_18_21_Summary_Details.csv  2021_04_19_21_Summary_Details.csv
2021_04_18_22_Summary_Details.csv  2021_04_19_22_Summary_Details.csv
2021_04_18_23_Summary_Details.csv  2021_04_19_23_Summary_Details.csv

# If you would like to merge the file into a single larger file

In [6]:

import os
import pandas as pd 

path = os.path.join(wd, Summary_Files)  #This is the absolute path where files are located

Merged_files=pd.DataFrame()     #Create a empty data frame to store all the data
for root,dirs,files in os.walk(path):
  for file in files:
    if file.endswith(".csv"):      #only read .csv files
      data = pd.read_csv(file) 
      Merged_files = pd.concat([Merged_files, data])    #Merge by row the files  "data" into the "Merged_files"
Merged_files

,Tweet_ID,Language,Geolocation_coordinate,RT,Likes,Retweets,Country,Date Created
0,1383800103937265674,und,NO,NO,2,0,NaN,Sun Apr 18 15:10:29 +0000 2021
1,1383804778745008128,en,NO,NO,1,0,NaN,Sun Apr 18 15:29:03 +0000 2021
2,1383807542397050883,en,NO,NO,0,0,NaN,Sun Apr 18 15:40:02 +0000 2021
3,1383797464931573773,en,NO,YES,0,7923,NaN,Sun Apr 18 15:00:00 +0000 2021
4,1383797465132896265,en,NO,YES,0,12,NaN,Sun Apr 18 15:00:00 +0000 2021
...,...,...,...,...,...,...,...,...
166096,1383993744546942976,es,NO,YES,0,69,NaN,Mon Apr 19 03:59:56 +0000 2021
166097,1383993751182331906,es,NO,YES,0,4,NaN,Mon Apr 19 03:59:58 +0000 2021
166098,1383993752771956748,es,NO,YES,0,8,NaN,Mon Apr 19 03:59:58 +0000 2021
166099,1383993754336391171,en,NO,YES,0,231,NaN,Mon Apr 19 03:59:59 +0000 2021
166100,1383993756639141888,en,NO,YES,0,308,NaN,Mon Apr 19 03:59:59 +0000 2021

# You can filter the  tweets using Pandas

In [8]:


Just_English_Tweets= True #@param {type:"boolean"}
Just_with_Geolocation_information = False #@param {type:"boolean"}
Just_Original_tweets = False #@param {type:"boolean"}
Minimun_No_Likes = 3 #@param {type:"number"}
Minimun_No_Retweets =  0#@param {type:"number"}

Summary_Details2=Merged_files    # Creating a copy to avoid working on the orignal data frame
if(Just_English_Tweets):
  Summary_Details2=Summary_Details2[ Summary_Details2['Language']=='en']
if(Just_with_Geolocation_information):
  Summary_Details2=Summary_Details2[ Summary_Details2['Geolocation_coordinate']=='YES']
if(Just_Original_tweets):
  Summary_Details2=Summary_Details2[ Summary_Details2['RT']=='NO']


Summary_Details2=Summary_Details2[ Summary_Details2['Likes']>=Minimun_No_Likes]
Summary_Details2=Summary_Details2[ Summary_Details2['Retweets']>=Minimun_No_Retweets]

Summary_Details2

,Tweet_ID,Language,Geolocation_coordinate,RT,Likes,Retweets,Country,Date Created
17,1383797467800428544,en,NO,NO,12,2,NaN,Sun Apr 18 15:00:00 +0000 2021
62,1383797472389070864,en,NO,NO,3,1,NaN,Sun Apr 18 15:00:01 +0000 2021
124,1383797482505736194,en,NO,NO,3,2,NaN,Sun Apr 18 15:00:04 +0000 2021
200,1383797493746438144,en,NO,NO,81,19,NaN,Sun Apr 18 15:00:06 +0000 2021
204,1383797493897469962,en,NO,NO,10,3,NaN,Sun Apr 18 15:00:06 +0000 2021
...,...,...,...,...,...,...,...,...
165703,1383992925051179017,en,NO,NO,3,1,NaN,Mon Apr 19 03:56:41 +0000 2021
165730,1383993015451078658,en,NO,NO,7,2,NaN,Mon Apr 19 03:57:02 +0000 2021
165744,1383993084220907526,en,NO,NO,6,2,NaN,Mon Apr 19 03:57:19 +0000 2021
165824,1383993239473049602,en,NO,NO,5,0,NaN,Mon Apr 19 03:57:56 +0000 2021
166088,1383993730403684359,en,NO,NO,15,3,NaN,Mon Apr 19 03:59:53 +0000 2021